.proj_body {
  background: #FFA987 !important;
}

.landing_app {
  text-align: center;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
}

hr {
  width: 80% !important; 
}

.header {
  width: 100%;
  text-align: center;
}

.header h1 {
  padding: 1vh;
  margin-top: 2vh;
  margin-bottom: 2vh;
  font-size: 2.5vh !important;
}

.leaflet-container {
  margin: 0 auto;
  width: 95%;
  height: 80vh;
  text-align: center;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.popup {
  height: 40vh;
  width: 33vh;
}

image {
  height: 100%;
  width: 100%;
}